<!DOCTYPE html>
<html>
<head>
  <title>Shippie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

  <% flash.each do |name, msg| %>
    <div class='alert alert-<%= name == :notice ? "success" : "error" %>'>
      <a class='close' data dismiss="alert">x</a>
      <%= msg %>
    </div>
  <% end %>

  <div class='navbar'>
  <div class='navbar-inner'>
    <div class='container'>
    <ul class='nav'>
      <li><%= link_to "Home", root_path %></li> 
    <% if user_signed_in? %>
      <span class='label pull-right'>Signed in as <%= current_user.email %></span>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
    </ul>
  </div>
  </div>
  </div>
  <%= yield %>

  <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
