<!DOCTYPE html>
<html>
<head>
  <title>Shippie</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<div id='nav'><%= link_to "Home", root_path %> |
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
   | <%= link_to "Sign in", new_user_session_path %>
  <% end %></div>
<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
