<p>
From city: <%= @delivery.from_city %></br>
From address: <%= @delivery.from_address %></br>
To city: <%= @delivery.to_city %></br>
To address: <%= @delivery.to_address %></br>
Date due: <%= @delivery.date %></br>
</p>
