<h2><%= @delivery.name %></h2>
<% if @delivery.expired? %>
  <span class="label label-important">Expired</span>
<% end %>

<%= render 'delivery-actions' %>
<%= render 'delivery-info' %>
<%= render 'bids' %>
<%= render 'comments' %>
